.Home {
  text-align: center;
}

#main-content .section-wrapper {
  height: 750px;
  max-height: 750px;
  min-height: 750px;
}

@media (max-height: 650px) {
  #main-content .section-wrapper .content-wrapper {
    position: static !important;
  }
}

h1, h4, h5 {
  color: #1FB08A !important;
}